
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* home navbar */
.navbar{
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.nav-header{
    display: flex;
    justify-content: center;
}
.nav-header>h1{
    background-color: white;
    width: 35rem;
    text-align: center;
    font-size: 60px;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.load-btn{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.load-btn>a{
    background-color: #ffde59;
    color: black;
    text-decoration: none;
}
.main-container>h2,
.main-container>h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.main-container>h2{
    font-size: 40px;
    font-weight: 700;
}
.main-container>h1{
    font-size: 60px;
}
@supports (-webkit-text-stroke: 2px black) {
    .main-container>h1 {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
    }
}

/* saved news page and new news page navbar */
.saved-news-navbar,.new-news-navbar{
    background-color: black;
    padding: 2rem 8rem;
    margin-bottom: 2rem;
}
.navbar-up,
.saved-news-navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.new-news-logo{
    width: 100px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
}

.my-newsfeed-btn,.saved-news-btn,
.new-news-btn,
.load-btn>a{
    width: 20rem;
    height: 8vh;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-news-btn,.new-news-btn, .list-item{
    color: inherit;
    background-color: #ffde59;
}
.saved-news-btn{
    cursor: pointer;
}
.new-newsfeed{
    cursor: default;
    background-color: white;
}
#nav-down-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.list-item{
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    list-style-type: none;
}
.list-item:hover{
    background-color: #d7e797;
}
.list-item.active {
    background-color: #C9E265;
  }

/* new news card */
#new-news-container,
#my-newsfeed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
}
.card{
    list-style-type: none;
    border: 1px solid lightgray;
    padding: 20px;
    width: 45rem;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.auther-category-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.author,.category{
    text-transform: uppercase;
    font-weight: 600;
}
.content{
    font-size: 20px;
}
.content>a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: blue;
}
.fa-heart{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.fav-icon-box{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.load-btn-box{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.load-btn-box>button{
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
}
.load-btn-box>button:hover{
    scale: 1.05;
}
.top-navigator{
    position: relative;
}
.fa-circle-chevron-up, 
.fa-circle-chevron-down{
    position: fixed;
    right: 25px;
    top: 90vh;
    font-size: 40px;
    cursor: pointer;
}

.favorite-icon{
    color: tomato;
}

.fav-icon-box:hover .tool-tip{
    visibility: visible;
}
.tool-tip{
    visibility: hidden;
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 11px;
    color: blueviolet;
}
.bottom-navigator {
    display: none;
}

.xmark-box{
    display: flex;
    justify-content: flex-end;
}
.fa-xmark{
    cursor: pointer;
}
.fa-xmark:hover{
    scale: 1.1;
}

/* media quires */

@media screen and (min-width: 300px){
    .nav-header>h1{
        width: 35rem;
        font-size: 60px;
        margin-bottom: 2rem;
    }
    .load-btn{
        gap: 20px;
    }
    .load-btn>a{
        width: 18rem;
    }
    .new-news-navbar, .saved-news-navbar{
        padding: 2rem;
    }
    .card{
        width: 90vw;
    }
    .nav-header>h1 {
        width: 18rem;
        font-size: 38px;
    }

}
@media screen and (min-width: 600px){
    .nav-header>h1 {
        width: 28rem;
        font-size: 50px;
    }
    .load-btn>a{
        padding: 30px 0px;
    }
}

@media screen and (min-width: 900px){
    .card{
        width: 70vw;
    }
}
@media screen and (min-width: 1024px){
    .card{
        width: 45rem;
    }
    .saved-news-navbar,.new-news-navbar{
        padding: 2rem 8rem;
        margin-bottom: 2rem;
    }
}

