
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* home navbar */
.navbar{
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.nav-header{
    display: flex;
    justify-content: center;
}
.nav-header>h1{
    background-color: white;
    width: 35rem;
    text-align: center;
    font-size: 60px;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.load-btn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.load-btn>button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffde59;
    text-transform: uppercase;
}
.main-container>h2,
.main-container>h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.main-container>h2{
    font-size: 40px;
    font-weight: 700;
}
.main-container>h1{
    font-size: 60px;
}
@supports (-webkit-text-stroke: 2px black) {
    .main-container>h1 {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
    }
}

/* saved news page and new news page navbar */
.saved-news-navbar,.new-news-navbar{
    background-color: black;
    padding: 2rem 8rem;
    margin-bottom: 2rem;
}
.new-news-navbar{
    display: flex;
}
.new-news-logo{
    width: 100px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
}

.my-newsfeed-btn,.saved-news-btn,.new-news-btn{
    width: 20rem;
    height: 8vh;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-newsfeed-btn{
    background-color: white;
    margin-right: 10px;
}
.saved-news-btn,.new-news-btn{
    color: inherit;
    background-color: #ffde59;
}
.new-newsfeed{
    cursor: default;
    margin-left: 4rem;
}

/* new news card */
#new-news-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
}
.card{
    list-style-type: none;
    border: 1px solid lightgray;
    padding: 20px;
    width: 45rem;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.auther-category-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.author,.category{
    text-transform: uppercase;
    font-weight: 600;
}
.content{
    font-size: 20px;
}
.content>a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: blue;
}
.fa-heart{
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.fav-icon{
    display: flex;
    justify-content: flex-end;
}
.load-btn-box{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.load-btn-box>button{
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
}
.load-btn-box>button:hover{
    scale: 1.05;
}
.top-navigator{
    position: relative;
}
.fa-circle-chevron-up{
    position: fixed;
    right: 25px;
    top: 90vh;
    font-size: 40px;
    cursor: pointer;
}


